@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,500&display=swap');
/* ------------------------------------- */
/* BASIC SETUP */
/* ------------------------------------- */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    background-color: white;
    color: rgb(77, 77, 77);
    font-family: "Poppins";
    font-weight: 300px;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    margin: 0px auto;

}

/* ------------------------------------- */
/* REUSABLE COMPONENTS */
/* ------------------------------------- */
.row{
    /* width: 1140px; */
    margin: 0 auto;
}
section{
    padding: 40px 0;
}
.box{
    padding: 1%;
}
/* -------PARAGRAPHS------- */
.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}
.box p{
    font-size: 90%;
    line-height: 145%;
}
/* -------ICONS------- */
.icons {
    position: relative;
    left: 0;
    height: 0.7rem;
    width: 0.7rem;
    /* margin-right: 10px; */
}
.icon-bg {
    margin-left: 3rem;
    height: 3rem;
    width: 3rem;
    background-color: #F3D9D9;
    padding: 00.5rem;
    border-radius: 50%;
}

/* -------HEADINGS------- */
h1, h2, h3{
    
    font-weight: 300;
    
    
    
}
h1{
    margin-top: 0px; 
    margin-bottom: 20px;
    font-size: 400%;

}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
h3{
    font-size: 80%;
    color: #000;
    font-weight: 600;
    margin-bottom: 15px;
}
h4 {
    font-size: 160%;
    margin-bottom: 10px;
}

/* -------LINKS------- */

a:link,
a:visited {
    color: #B01C08;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #B01C08;
    transition: border-bottom 0.2s, color 0.2s;

}
a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}
  

/* -------BUTTONS------- */
.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 8px; 
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    
}
.btn-full:link,
.btn-full:visited{
    background-color: #B01C08;
    border: 1px solid #B01C08;
    color: #fff;
    margin-right: 15px;
}
.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #B01C08;
    color: #000;
}
.btn:hover,
.btn:active{
    background-color: #B01C08;
}
.btn-full:hover,
.btn-full:active{
    border: 1px solid #B01C08;
}
.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #B01C08;
    color:white;
}

/* ------------------------------------- */
/* HEADER */
/* ------------------------------------- */

header nav .row {
    display: flex;
    justify-content: space-between;
    /* border-bottom: 2px solid #ccc */
}

.logo {
    height: 100px;
    width: auto;
    margin-top: 20px;
} 

.main-nav{
    list-style: none;
    margin-top: 55px;
} 
.main-nav li{
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 70%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #B01C08;
}

/* ------------------------------------- */
/* HERO */
/* ------------------------------------- */
.about-content nav {
    width: 100%;
    margin-bottom: 2rem;
}
.about-content .nav ul {
    width: fit-content;
    display: flex;
    /* margin-bottom: 2rem; */
}
.about-content .nav li {
    padding: .3em 1em;
    color: var(--light-gray);
    position: relative;
    display: block;
    cursor: pointer;
    font-size: 1em;
}

#about .about-content,
#cont .content  {
    display: flex;
}

 #about .about-text,
#about .about-image,
#cont .text, 
#cont .other-section {
    flex: 1;  
    
    
}

#about .about-text
{
    /* text-align: justify; */
    padding-top: 120px;
  
}
#about .about-text .buttons {
    margin-top: 5rem;
}
#about .about-image img {

    display: block;
    margin-left: auto;
    width: 75%;
    margin-top: 60px;

} 
#cont .other-section {
    display: block;
    margin-left: auto;
    width: 75%;
    height: 100%;

}

#cont .other-section .image-other {
    object-fit: contain;
    padding: 0 10px;
    height: 20%;
    
}
.section-features .row{
    display: flex;
    
}

/* .col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
} */

.span-of-4{
	width: 25%; 
}
.box{
    
    padding: 1%;
}

.msg h6 {
    width: 45%;
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2rem;
   
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #B01C08;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #B01C08;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .second-msg {
      width: 40%;
      margin: 0 auto;
      display: flex;
      margin-top: 1.5rem;
  }

  .s-msg {
      padding: 0 15px;
  }
  .line {
      margin-left: 30%;
      margin-top: 0.5rem;
      width: 40%;
      border: 1px solid #B01C08;
  }
  .sec{
      display: flex;
      margin-left: 40% ;
      margin-top: 2rem;
     
  }

  
 
.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    border: 1px solid #ccc;

}
.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8 ;
}
.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.plan-box div:last-child {
    text-align: center;
    border: 0;
}
.plan-price {
    font-size: 250%;
    margin-bottom: 10px;
    font-weight: 100;
   
}

.small-month {
    font-size: 30%;
    font-weight: 300;
}

ul li {

    list-style-type: none;
    padding: 5px;
    
}
i {
    margin-right: 10px;
    
}
.span-1-of-3 {
	width: 32.26%; 
}
.plans{
    display: flex;
}

.choose-plan {
    margin-left: 3rem;
    border: 1px solid #000;
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 8px; 
}

.section-plans .plan-box ul li {
    font-size: 1rem;
    padding-left: 2rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.section-plans .plan-box ul li::before {
    content: url('../images/check.svg');
    position: absolute;
    left: 0;
}
blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;

}
blockquote:before {
    content: "\201C";
    font-size: 600%;
    display: block;
    position: absolute;
    top: -15px;
    left: -30px;
}

.block, h6{
    width: 60%;
    font-size: 40px;
    /* margin-bottom: 2rem; */
}



.block .real {
    position: absolute;
    bottom: -85%;
    right: 34%;
}

.customers .row .customer {
    display: flex;
}
 .customer-things {
    box-shadow:  0 3px 10px rgb(0 0 0 / 0.2);
    margin: 1rem;
    padding: 1rem;
    border-radius: 8px;
}


.first-customer {
    margin-left: 8rem;
    height: 35%;
    width: 60%;
    
}
 .second-customer {
    width: 80%;
}

.third-customer {
   
    width: 55%;
    
}

/* ------------------------------------- */
/*  WE serve */
/* ------------------------------------- */

.text-serve {
    width: 40%;
}
.text-serve .text {
    font-size: 2.5rem;
}

.other-section-serve {
    margin-left: 7rem;
    padding: 0 1rem;
}
.image-other {
    padding: 0 0.5rem;
}

/* ------------------------------------- */
/* Tagline */
/* ------------------------------------- */


.tagline .row {
    background-color: #F7FAFE;
    text-align: center;
    padding: 3em 0;
    position: relative;
    border-radius: 8px;
       
}

.tagline .text{
    font-size: 3.5em;
    line-height: 1.3;
    font-weight: 700;
    margin-bottom: 1em;
}




footer {
    background-color: #B01C08;
    padding: 50px;
    font-size: 80%;
}
.footer-sec {
    padding: 0.5rem;
}
.footer-nav {
    list-style: none;
    float: left;
}
.social-links {
    list-style: none;
    float: right;

}
.footer-nav li,
.social-links li {
    display: inline-block; 
    margin-right: 20px; 
    padding: 0.5rem 0;
}
.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #fff;
    transition: color 0.2s;
    

}
.footer-nav li a:hover,
.footer-nav li a:active {
    color: #fff;
}




.footer .row {
    display: flex;
}

.host {
    margin-top: 2rem;
}
.p-bottom {
    color: #fff;
}

.img-footer{
    margin-bottom: 2rem;
}
h5 {
    color: #fff;
    font-size: 15px;
}



